.news__item_description {
  padding-top: 18px;
  font-size: 14px;
  line-height: 143%;
}

@media screen and (max-width: 800px) {
  .news__item_description {
    padding-top: 14px;
    font-size: 12px;
    line-height: 133%;
  }
}
